#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;

  --myblue:#48f;
  --mygreen:#385;
  --myred:#c68;
  --mydarkgray:#888;
  --mylightgray:#ddd;
}

div.navigation-bar {
  overflow: hidden;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items:baseline;
  background-color: #000;
  margin: 0;
  padding: 3px;
  width: 90vw;
}

div.navigation-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 7px;
  align-items:center;
  background-color: var(--myblue);
  margin: 3px;
  height : 56px;
  color: white;
  padding: 0;
  &:hover {
    background-color: var(--mygreen);
    }
}

div.navigation-item > p {
  padding: 0;
  text-align: center;
}

div.navigation-item > img {
  padding: 4px;
}