#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;

  --myblue:#48f;
  --mydarkblue:#248;
  --mygreen:#385;
  --myred:#c68;
  --mydarkgray:#888;
  --mylightgray:#ddd;
}

div.navigation-bar {
  overflow: hidden;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items:baseline;
  background-color: #000;
  margin: 0;
  padding: 3px;
  width: 90vw;
}

button.navigation-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 7px;
  align-items:center;
  background-color: var(--myblue);
  margin: 3px;
  height : 56px;
  color: white;
  padding: 3px;
  border: 0;
  &:hover {
    background-color: var(--mygreen);
    }
}

div.navigation-item > p {
  padding: 0;
  text-align: center;
}

div.navigation-item > img {
  padding: 4px;
}

p.error-message {
  color: #b00;
  background-color: #faa;
  border-radius: 10px;
  border: 3px #b00 solid;
  padding: 10px;
}

div.small-card-candidate{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  border-radius: 7px;
  align-items:baseline;
  background-color: #535bf2;
  margin: 2px;
  padding: 1px;
}

span.small-card-candidate{
  flex: 1 1 0;
  font-size: 12px;
  display: inline;
  border-radius: 5px;
  white-space: nowrap;
  margin: 1px;
  padding: 0 3px;
  background-color: rgba(255,255,255,.7);
}

button.small-card-candidate{
  flex: 0 0 18px;
  font-size: 12px;
  font-weight: bold;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  padding: 0;
  border-spacing: 0;
  margin: 1px;
  text-align: center;
  color: #fff;
  background-color: #444;
}

div.small-card-candidate-partybutton{
  flex: 0 0 18px;
  font-size: 12px;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  padding: 0;
  border-spacing: 0;
  margin: 1px;
}

div.ballot {
  display: flex;
  flex-direction: column;
  background-color: var(--myblue);
  border-radius: 16px;
  padding: 4px;
}

div.ballot-item {
  display: flex;
  border-radius: 12px;
  padding: 4px;
  justify-content: center;
}

div.ballot > p {
  margin: 0;
}

div.ballot-item  > p {
  margin: 0;
}
